<ion-header>
  <ion-toolbar>
    <ion-title>Proxima clase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="full">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label> {{ classe.data }}</ion-label>
    </ion-item>
  
    <ion-card-content>
      {{ classe.desc }}
    </ion-card-content>
    <ion-item lines="none">
      <ion-button fill="outline" slot="start">Asistire</ion-button>
      <ion-button fill="outline" slot="end">No asistire</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
