<ion-card>
  <ion-img src="../../assets/img/img.jpg"></ion-img>
</ion-card>
<ion-card>
  <form [formGroup]="editForm">
    <ion-card>
      <ion-item>
        <ion-label position="stacked">Nombre <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellidos <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="apellidos"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label position="stacked">Telefono <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="telefono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="email" formControlName="email"></ion-input>
      </ion-item>
    </ion-card>
    <ion-item lines="none">
      <ion-button type="submit" size="default" slot="start" (click)="onGuardar()">Guardar
      </ion-button>
      <ion-button type="submit" size="default" color="danger" slot="end" (click)="onCancel()">
        Canelar
      </ion-button>
    </ion-item>
  </form>
</ion-card>