<footer class="container-fluid bg-dark">
  <div class="row pt-3">
    <div class="col-4 pl-5 align-middle">
      <p class="text-white"> <span class="">© </span><span class="">
          {{ anyo }} JULIA </span>All Right Reserved.</p>
    </div>
    <div class="col-4 text-center align-middle">
      <a href="https://www.facebook.com/escueladepatinajevalencia/" target="_blank" class="img">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
        </svg>
      </a>
      <a href="#0" class="img">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
        </svg>
      </a>
      <a href="https://www.instagram.com/escueladepatinajevalencia/" target="_blank" class="img">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
        </svg>
      </a>
      <a href="#0" class="img">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-tumblr"></use>
        </svg>
      </a>
    </div>
    <div class="col-4 text-right pr-5">
      <p class="text-white"> <span class="">Email: </span><span class="">
          <a href="#0" class="">garciadomingojulia@gmail.com </a></span></p>
    </div>
  </div>
</footer>
