<ion-header>
  <ion-toolbar>
    <ion-title>Logout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center">
  <ion-card>
    <ion-item lines="full">
      <ion-text>Estás seguro de que quieres cerrar la sesión?</ion-text>
    </ion-item>

    <ion-item lines="none">
      <ion-button size="default" fill="outline" color="success" slot="start" (click)="onAceptar()">Aceptar
      </ion-button>
      <ion-button size="default" fill="outline" color="danger" slot="end" (click)="onCancel()">
        Canelar
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>