<header class="container-fluid">
  <nav class="row navbar navbar-dark bg-dark">
    <div class="col-2"><img src="../../../assets/img/logo.png" width="100" height="100" class="d-inline-block" alt="">
    </div>
    <ul class="col-8 nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="/clases">Clases y niveles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="/horarios">Donde y cuando</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="/tarifas">Tarifas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="/contacto">Contacto</a>
      </li>
    </ul>
    <div class="col-2">
      <button type="button" [routerLink]="['/contacto']" class="btn btn-outline-light">Aprende a patinar</button>
    </div>
  </nav>
</header>
