<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm">
    <ion-card>
      <ion-item lines="full">
        <ion-label position="stacked">User</ion-label>
        <ion-input required type="text" formControlName="userName"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input required type="password" formControlName="passwd"></ion-input>
      </ion-item>
      <ion-button type="submit" fill="outline" expand="block" (click)="onSubmit()">Login</ion-button>
    </ion-card>
  </form>
</ion-content>